<h1> sleep using python </h1>
 
<form action="your-url" method="post">
<br>
 <label for="mealtime"> time of last meal in day (hh/mm) </label>
 <input type="text" name="mealtime" value = "" required>
<br>
 <label for="bedtime"> Time you go to bed (hh/mm)</label>
 <input type="text" name="bedtime" value = "" required>
<br>

 <label for="waketime"> Time you wake up (hh/mm)</label>
 <input type="text" name="waketime" value = "" required>
<br>
<label for="electronics"> Time between use of electronics and sleep (min)</label>
 <input type="text" name="electronics" value = "" required>
<br>
 <label for="up"> Number of times you get up in the night</label>
 <input type="text" name="up" value = "" required>
<br>
 <label for="temperature"> Temperature (C)</label>
 <input type="text" name="temperature" value = "" required>
<br>
 <label for="noise"> Noise level (dB)</label>
 <input type="text" name="noise" value = "" required>
<br>
 <label for="nap"> Time spent napping (min) </label>
 <input type="text" name="nap" value = "" required>
 <br>
 <br>
 <br>
 <label for="quality"> Sleep Quality </label>
 <input type="text" name="quality" value = "" required>

<br>
<input type="submit" value="submit">
</form>