<h1 style="font-family:verdana;"> Thank you  </h1>
<h2 style="font-family:verdana;"> Sleep Quality graph over the past 2 weeks:  </h2>
<img src="static\sleep_graph.png" width="521" height="361" alt="Graph">
<h2> {{ meal }} </h2>

<h2 style="font-family:verdana;"> Our suggestions:</h2>
<br>
<h3 style="font-family:verdana;">One of:</h3>
<h3 style="font-family:verdana;"> ['Try to have your meal % minutes earlier',<br>
    'Try to go to sleep % minutes earlier',<br>
    'Try to wake up % minutes later',<br>
    None, 'Try to stop using electronics % minutes earlier',<br>
    'Try to lower the temperature by % degrees Celsius',<br>
    'Try to find a way to lower the noise level by % decibels',<br>
    'Try to take % minutes less of naps']</h3>
